{% extends 'layout.html' %}
{% block body %}


<div style="margin-top: 5em;">
        <h1 class="text">users</h1>
        <table class="text">
            <thead>
                <tr>
                    <th>id</th>
                    <th>username</th>
                    <th>limit</th>
                </tr>
            </thead>

            <tbody>
                {% for user in users %}
                    <tr>
                        <td data-label="id">{{user.id}}</td>
                        <td data-label="username">{{user.username}}</td>
                        <td data-label="limit">{{user.limit}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    <div style="margin-top: 5em;">
        <h1 class="text">books</h1>
        <table class="text">
            <thead>
                <tr>
                    <th>id</th>
                    <th>title</th>
                    <th>author</th>
                    <th>description</th>
                    <th>quantity</th>
                    <th>owner</th>
                </tr>
            </thead>

            <tbody>
                {% for book in books %}
                    <tr>
                        <td data-label="id">{{book.id}}</td>
                        <td data-label="title">{{book.title}}</td>
                        <td data-label="author">
                            {% if book.author %}
                                {{book.author}}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td data-label="description">
                            {% if book.description %}
                                {{book.description}}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td data-label="quantity">{{book.quantity}}</td>
                        <td data-label="owner">{{book.owner.username}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div style="margin-top: 5em;">
        <h1 class="text">trackers</h1>
        <table class="text">
            <thead>
                <tr>
                    <th>id</th>
                    <th>user_id</th>
                    <th>book_id</th>
                    <th>borrowed_at</th>
                    <th>returned_at</th>
                </tr>
            </thead>
            <tbody>
                {% for tracker in trackers %}
                <tr>
                    <td data-label="id">{{tracker.id}}</td>
                    <td data-label="user_id">{{tracker.user.id}}</td>
                    <td data-label="book_id">{{tracker.book.id}}</td>
                    <td data-label="borrowed_at">{{tracker.borrowed_at}}</td>
                    <td data-label="returned_at">
                        {% if tracker.returned_at %}
                            {{tracker.returned_at}}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}