{% extends 'layout.html' %}
{% block body %}

    <h1 class="text">add book</h1>
    <form method="POST" action="/add_book">
        <input type="text" placeholder="book title" name="title" maxlength="120"/>
        <input type="text" placeholder="author" name="author" maxlength="120"/>
        <input type="text" placeholder="description" name="description" maxlength="120"/>
        <input type="number" placeholder="quantity" name="quantity"/>
        <input type="submit" value="add">
    </form>


    <div style="margin-top: 5em;">
        <h1 class="text">list</h1>
        <table class="text">
            <thead>
                <tr>
                    <th>id</th>
                    <th>title</th>
                    <th>author</th>
                    <th>description</th>
                    <th>quantity</th>
                    <th>owner</th>
                </tr>
            </thead>

            <tbody>
                {% for book in books %}
                    <tr>
                        <td data-label="id">{{book.id}}</td>
                        <td data-label="title">{{book.title}}</td>
                        <td data-label="author">{{book.author}}</td>
                        <td data-label="description">{{book.description}}</td>
                        <td data-label="quantity">{{book.quantity}}</td>
                        <td data-label="owner">{{book.owner.username}}</td>
                        <td data-label="-^-">
                            <form method="POST" action="/del_book">
                                <input type="hidden" name="id" value={{book.id}} />
                                <input type="submit" value="X" />
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}