body {
    margin: 0;
    padding: 0;
}

.text {
    font-family: 'Source Code Pro', monospace;
    font-weight: 200;
    font-size: 1.5em;

    margin: 0;
    padding: 0;

    color: #323232;
}

.nav-list {
    display: inline;
    list-style: none;
}

.nav-item {
    display: inline;
    padding: .5em;

    font-size: 1.2em;

    transition: all ease .2s;
}

.nav-item:hover {
    background-color: rgb(107, 166, 255);
}

nav {
    background-color: rgb(145, 189, 255);
    padding: .5em;
}

a {
    text-decoration: none;
}

td{
    text-align: center;
    word-wrap: break-word;
    word-break: break-all;

    max-width: 15em;

    padding: 0 1em;
}