<nav>

  <div class="nav-list">
    <h1 class="text">booksys</h1>

    <div>
      <a href="/" class="text nav-item">books</a>
      {% if session.logged_in != NULL and session.username == "kmarg" %}
        <a href="/database" class="text nav-item">database</a>
      {% endif %}
    </div>

      {% if session.logged_in != NULL %}

        <div>
          <div class="text">borrowed: {{borrowed}}</div>
          <div class="text">limit: {{limit}}</div>

          <button onclick="logout()">logout</button>
        </div>

      {% else %}

        <div>
          <input type="text" name="username" maxlength="80" placeholder="username"/>
          <button onclick="logreg()" >login or register</button>
        </div>

      {% endif %}
  </div>

</nav>