<nav>
  <h1 class="text">booksys</h1>

  <div class="nav-list">
      
      <a href="/" class="text nav-item">books</a>

      {% if session.logged_in != NULL %}
      <div>
        <span class="text">limit: {{session.limit}}</span>

        <form method="POST" action="/logout">
          <input type="submit" value="logout"/>
        </form>
      </div>
      {% else %}

      <form method="POST" action="/logreg">
        <input type="text" name="username" maxlength="80" placeholder="username"/>
        <input type="submit" value="login or register" />
      </form>

      {% endif %}
  </div>

</nav>